#
# Pip Requirements
#
# To Install:
#   pip install -r requirements.txt
#
# StackOverflow API: https://github.com/lucjon/Py-StackExchange
-e git+https://github.com/lucjon/Py-StackExchange.git#egg=Py-StackExchange

# YAML parsing (for secrets)
PyYAML

#
# Test Dependencies
#
nose
coverage
nose-exclude
